body {
  min-height: 100vh;
  font-size: var(--fs-400);
  font-family: var(--ff-sans-normal);
  font-weight: 400;
  color: hsl(var(--clr-white));
  background-color: hsl(var(--clr-dark));
  display: grid;
  grid-template-rows: min-content 1fr;
  background-size: cover;
  background-position: bottom center;
}

/* Header */
.primary-header {
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin: 2rem clamp(1.5rem, 5vw, 2.5rem);
}

.primary-navigation {
  --underline-gap: 2rem;
  --gap: clamp(1.5rem, 5vw, 2.5rem);
  list-style: none;
  padding: 0;
  margin: 0;
  background: hsl(var(--clr-light)/0.05);
  backdrop-filter: blur(1.5rem);

  a {
    text-decoration: none;

    >span {
      font-weight: 700;
      margin-right: 0.5em;
    }
  }
}

.mobile-nav-toggle {
  display: none;
}

/* Home */
.home {
  background-image: url('../../images/home/background-home-mobile.jpg');
}

/* Destination */
.destination {
  background-image: url('../../images/destination/background-destination-mobile.jpg');
}

.grid-container--destination {
  --flow-space: 2rem;
  grid-template-areas:
    'title'
    'image'
    'tabs'
    'body';

  >img {
    grid-area: image;
    max-width: 60%;
  }

  >.tab-list {
    grid-area: tabs;
  }

  >.destination-body {
    grid-area: body;
  }
}

.destination-meta {
  align-items: center;
  border-top: 1px solid hsl(var(--clr-light));
  flex-direction: column;
  padding-top: 2.5rem;
  margin-top: 2.5rem;
}
